<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Photography Portfolio</title>
        <!-- TailwindCSS from CDN -->
        <script src="https://cdn.tailwindcss.com"></script>
        <!-- HTMX from CDN -->
        <script
            src="https://unpkg.com/htmx.org@2.0.3"
            integrity="sha384-0895/pl2MU10Hqc6jd4RvrthNlDiE9U1tWmX7WRESftEDRosgxNsQG/Ze9YMRzHq"
            crossorigin="anonymous"
        ></script>
    </head>
    <body class="bg-gray-100">
        <!-- Include the Header -->
        {% include 'header.html' %}

        <div class="container mx-auto py-10">
            <h2 class="text-4xl font-bold text-center mb-10">
                Photography Portfolio
            </h2>

            <!-- Grid of Projects -->
            <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
                {% for project in projects %}
                <div
                    class="border rounded-lg overflow-hidden shadow-lg bg-white"
                >
                    <a href="/project/{{ project.name }}">
                        <img
                            src="/projects/{{ project.name }}/{{ project.images[0] }}"
                            alt="{{ project.name }}"
                            class="h-48 w-full object-cover"
                        />
                        <div class="p-4">
                            <h3 class="text-lg font-bold mb-2">
                                {{ project.name }}
                            </h3>
                            <p class="text-blue-500 hover:text-blue-700">
                                View Project
                            </p>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
        <!-- Include the Footer -->
        {% include 'footer.html' %}
    </body>
</html>
