<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Mach Lack!</title>
        <!-- TailwindCSS from CDN -->
        <script src="https://cdn.tailwindcss.com"></script>
        <!-- HTMX from CDN -->
        <script
            src="https://unpkg.com/htmx.org@2.0.3"
            integrity="sha384-0895/pl2MU10Hqc6jd4RvrthNlDiE9U1tWmX7WRESftEDRosgxNsQG/Ze9YMRzHq"
            crossorigin="anonymous"
        ></script>
    </head>
    <body class="bg-gray-100 mx-auto max-w-screen-xl px-4 py-8 sm:px-6 sm:py-12 lg:px-8">
        <!-- Include the Header -->
        {% include 'header.html' %}

        <!-- Hero Section -->
        {% include 'projects.html' %}
        <!-- Include the Footer -->
        {% include 'footer.html' %}
    </body>
</html>
