<!DOCTYPE html>
<html
    lang="en"
    class="bg-[url('/static/layered-waves-haikei-1920-1080.svg')] bg-cover bg-fixed"
>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Mach Lack!</title>
        <!-- TailwindCSS from CDN -->
        <script src="https://cdn.tailwindcss.com"></script>
        <link rel="icon" href="/static/favicon.ico" sizes="16x16" >
    </head>
    <body class="mx-auto max-w-screen-xl px-4 py-8 sm:px-6 sm:py-12 lg:px-8 h-screen justify-between flex flex-col">
        <!-- Include the Header -->
        {% include 'header.html' %}
        <!-- Hero Section -->
        {% include 'projects.html' %}
        <!-- Include the Footer -->
        {% include 'footer.html' %}
    </body>
</html>
